<!-- <table style="display: flex;">
  <tr *ngFor="let i of arr3"><app-square-box></app-square-box></tr>
  <tr *ngFor="let i of arr3"><app-square-box></app-square-box></tr>
  <tr *ngFor="let i of arr3"><app-square-box></app-square-box></tr>
</table> -->
<ng-container>
  <h2 style="margin: 20px;">Select a level to start the Game</h2>
  <div style="margin: 20px;display: inline-block;">Your score: {{score}}</div>
  <div style="margin: 20px;display: inline-block;">Highest score: {{highestScore}}</div>
  <div style="margin: 20px;display: inline-block;">Time remaining: {{oTimer}}</div>
  <div>
    <button [disabled]="isDisabled" (click)="levelClicked(3)">Easy</button>
    <button [disabled]="isDisabled" (click)="levelClicked(4)">Medium</button>
    <button [disabled]="isDisabled" (click)="levelClicked(6)">Hard</button>
  </div>
  <table style="margin: 20px;">
    <tr *ngFor="let row of arr">
      <td *ngFor="let column of arr;">
        <app-square-box [boxIndex]="[row, column]" [randomBox]="[randomRow, randomCol]"
        (emitClickedValue)="getClickedValue($event)"></app-square-box>
      </td>
    </tr>
  </table>

  <button [hidden]="!isDisabled" (click)="restartGame()" style="margin: 20px;">Restart Game</button>

  <!-- <button style="margin-top: 20px;" (click)="stopClick()">Stop</button> -->
</ng-container>
